.container2 {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
    grid-template-areas:
        "h h h h h h h h h h h h"
        "m c c c c c c c c c c v"
        "m f f f f f f f f f f v";
    grid-gap: 3px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #7a7a7a;
    font-size: 200%;
}
.container2>div {
}

.header {
    background-color: #96ceb4;
    grid-area: h;
    /* grid-column: 1/-1; */
}

.menu {
    background-color: #ec6d46;
    grid-area: m;
    /* grid-row: 1/-1;
    grid-column: -1; */

}

.friends {
    background-color: #ec6d46;
    grid-area: v;
    /* grid-row: 1/-1;
    grid-column: -1; */

}

.content {
    background-color: aquamarine;
    grid-area: c;
    /* grid-column: 1/-1; */
}

.footer {
    background-color: #ffdb59;
    grid-area: f;
    /* grid-column: 1/-1; */
}